* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
  overflow: hidden;
	height: 100%;
}

div#app {
	height: 100%;
}

main {
  height: 100%;
	position: relative;
	background-color: black;
}

button {
 border: 0;
 position: absolute;

}

button:not([disabled]):hover {
  cursor: move;
}

button[aria-pressed=true] {
	animation-duration: 0.5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
	animation-timing-function: ease-in-out;
	z-index: 3;
}


button[disabled]::before {
	content: "";
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	background-color: black;
	border-radius: 0.5rem;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
}

@keyframes pulse {
	0% {
    transform: scale(1);
  }
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}

}

@keyframes expand {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

p {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(255 255 255 / 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
}